*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

a {
  color: #0150ac;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.no-margin {
  margin: 0;
}

.header {
  padding: 20px;
}

.header__link {
  font-size: 12px;
}

.header__avatar {
  width: 45px;
}

.header__avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.separator {
  width: 100%;
  height: 2px;
  background-color: #0150ac;
}

.separator--230 {
  width: 230px;
}

.separator--info {
  margin-bottom: 5px;
}

.content {
  padding: 0 20px;
}

.ticket__name {
  font-weight: 700;
  font-size: 16px;
}

.business__image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.block {
  margin-bottom: 10px;
}

.ticket {
  margin-top: 10px;
}

.info__title {
  font-size: 16px;
  font-weight: bold;
}

.table {
  width: 100%;
}

.table__row-space {
  display: block;
  height: 10px;
  width: 100%;
}

.table__column-1 {
  width: 150px;
  vertical-align: top;
}

.status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.status__color {
  width: 30px;
  height: 20px;
  background-color: #0150ac;
}

.status__color--inprogress {
  background-color: #f2c94c;
}

.status__name {
  margin-left: 5px;
}

.priority {
  padding: 4px 5px;
  border: 1px solid #0150ac;
  border-radius: 2px;
  display: inline-block;
  height: 25px;
}

.assignee {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #0168df;
  border-radius: 2px;
  font-size: 12px;
  padding: 5px;
  margin-bottom: 5px;
}

.assignee__avatar {
  margin-right: 5px;
  height: 18px;
}

.assignee img {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.acceptance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.acceptance__avatar {
  margin-right: 10px;
}

.acceptance__info span {
  display: block;
}

.acceptance__email {
  color: grey;
  font-size: 12px;
}

.acceptance img {
  width: 30px;
  height: 30px;
}

.label {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 2px;
  color: #fff;
  max-width: 165px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1px;
}

.label--default {
  background-color: #489cfe;
  color: #000;
}

.label--primary {
  background-color: #0168df;
}

.end-separator {
  width: 230px;
  height: 2px;
  background-color: #0150ac;
}

.detail {
  width: 100%;
}

.detail__here {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail__link {
  display: inline-block;
  padding: 10px 15px;
  color: #fff !important;
  border-radius: 5px;
  background-color: #0150ac;
  text-decoration: none;
}

.detail__link:hover {
  background-color: #013879;
}

.detail__notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30px;
  font-style: italic;
  font-size: 12px;
}

.footer {
  width: 100%;
  height: 100%;
  background-color: #0150ac;
  color: #fff;
  font-size: 12px;
  padding: 10px 15px;
}

@media only screen and (min-width: 500px) {
  .footer {
    padding: 15px 20px;
  }
  .footer__right {
    width: 165px;
  }
}

.footer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .logo__text {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-top: 20px;
}

.w-100 {
  width: 100%;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-items--center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actor__name {
  margin: 0 1px;
}

.time {
  font-size: 12px;
  color: grey;
}

.before,
.after {
  padding: 10px;
  vertical-align: top;
  max-width: 700px;
  margin-bottom: 5px;
}

.before {
  display: inline-block;
  background-color: #ffebe6;
  text-decoration: line-through;
}

.arrow {
  width: 2px;
  display: inline-block;
}

.after {
  display: inline-block;
  background-color: #e3fcef;
}

.history {
  margin-bottom: 20px;
}

.history__header {
  list-style: square;
  padding-left: 15px;
}

.comment .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
}

.comment .item__avatar {
  margin-right: 5px;
}

.comment .item__time {
  font-size: 12px;
  color: grey;
}

.comment .item__text {
  margin-top: 10px;
}

.sub-tickets {
  padding-left: 30px;
  margin: 0;
}

.sub-tickets li {
  margin-bottom: 5px;
}

.sub-tickets li span {
  padding: 5px;
  display: inline-block;
  background-color: #e3fcef;
}
/*# sourceMappingURL=main.css.map */