*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

$blue: #0150ac;
$light-blue: lighten($blue, 10);
$inprogress-color: rgb(242, 201, 76);
$pending-approve: rgb(253, 126, 20);
$pending: rgb(235, 238, 240);
$finish: rgb(0, 128, 0);
$cancel: rgb(219, 55, 0);

a {
  color: $blue;
  transition: all 0.2s ease-in-out;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.no-margin {
  margin: 0;
}

.header {
  padding: 20px;

  &__link {
    font-size: 12px;
  }

  &__avatar {
    width: 45px;
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
}

.separator {
  width: 100%;
  height: 2px;
  background-color: $blue;

  &--230 {
    width: 230px;
  }

  &--info {
    margin-bottom: 5px;
  }
}

.content {
  padding: 0 20px;
}

.ticket {
  &__name {
    font-weight: 700;
    font-size: 16px;
  }
}

.business {
  &__image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

.block {
  margin-bottom: 10px;
}

.ticket {
  margin-top: 10px;
}

.info {
  &__title {
    font-size: 16px;
    font-weight: bold;
  }
}

.table {
  width: 100%;

  &__row-space {
    display: block;
    height: 10px;
    width: 100%;
  }

  &__column-1 {
    width: 150px;
    vertical-align: top;
  }
}

.status {
  display: flex;
  align-items: center;

  &__color {
    width: 30px;
    height: 20px;
    background-color: $blue;

    &--inprogress {
      background-color: $inprogress-color;
    }
  }

  &__name {
    margin-left: 5px;
  }
}

.priority {
  padding: 4px 5px;
  border: 1px solid $blue;
  border-radius: 2px;
  display: inline-block;
  height: 25px;
}

.assignee {
  display: inline-flex;
  align-items: center;
  border: 1px solid $light-blue;
  border-radius: 2px;
  font-size: 12px;
  padding: 5px;
  margin-bottom: 5px;

  &__avatar {
    margin-right: 5px;
    height: 18px;
  }

  img {
    width: 18px;
    height: 18px;
    border-radius: 50%;
  }
}

.acceptance {
  display: flex;

  &__avatar {
    margin-right: 10px;
  }

  &__info {
    span {
      display: block;
    }
  }

  &__email {
    color: grey;
    font-size: 12px;
  }

  img {
    width: 30px;
    height: 30px;
  }
}

.label {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 2px;
  color: #fff;
  max-width: 165px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1px;

  &--default {
    background-color: lighten($light-blue, $amount: 20);
    color: #000;
  }

  &--primary {
    background-color: $light-blue;
  }
}

.end-separator {
  width: 230px;
  height: 2px;
  background-color: $blue;
}

.detail {
  width: 100%;

  &__here {
    display: flex;
    min-height: 30px;
    align-items: center;
  }

  &__link {
    display: inline-block;
    padding: 10px 15px;
    color: #fff !important;
    border-radius: 5px;
    background-color: $blue;
    text-decoration: none;

    &:hover {
      background-color: darken($blue, $amount: 10);
    }
  }

  &__notice {
    display: flex;
    align-items: center;
    min-height: 30px;
    font-style: italic;
    font-size: 12px;
  }
}

.footer {
  width: 100%;
  height: 100%;
  background-color: $blue;
  color: #fff;
  font-size: 12px;
  padding: 10px 15px;

  @media only screen and (min-width: 500px) {
    padding: 15px 20px;
    &__right {
      width: 165px;
    }
  }

  .logo {
    display: flex;
    align-items: center;

    &__text {
      font-size: 16px;
      font-weight: bold;
      display: block;
      margin-top: 20px;
    }
  }
}

.w-100 {
  width: 100%;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.d-flex {
  display: flex;
}

.align-items {
  &--center {
    align-items: center;
  }
}

.actor {
  &__name {
    margin: 0 1px;
  }
}

.time {
  font-size: 12px;
  color: grey;
}

.before,
.after {
  padding: 10px;
  vertical-align: top;
  max-width: 700px;
  margin-bottom: 5px;
}

.before {
  display: inline-block;
  background-color: #ffebe6;
  text-decoration: line-through;
}

.arrow {
  width: 2px;
  display: inline-block;
}

.after {
  display: inline-block;
  background-color: #e3fcef;
}

.history {
  margin-bottom: 20px;
  &__header {
    list-style: square;
    padding-left: 15px;
  }
}

.comment {
  .item {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    &__avatar {
      margin-right: 5px;
    }

    &__time {
      font-size: 12px;
      color: grey;
    }

    &__text {
      margin-top: 10px;
    }
  }
}

.sub-tickets {
  padding-left: 30px;
  margin: 0;

  li {
    margin-bottom: 5px;

    span {
      padding: 5px;
      display: inline-block;
      background-color: #e3fcef;
    }
  }
}
