*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-size: 14px;
  color: #222;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

a {
  color: #0150ac;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.no-margin {
  margin: 0;
}

.header {
  padding: 0 20px;
}

.header__link {
  font-size: 12px;
}

.header__avatar {
  width: 45px;
}

.header__avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.header__avatar img.warning-img {
  border-radius: 0;
  width: 35px;
  height: 35px;
}

.header p {
  margin-bottom: 0;
}

.separator {
  width: 100%;
  height: 2px;
  background-color: #d6dee9;
}

.separator--230 {
  margin: 5px 0;
  width: 230px;
}

.content {
  padding: 0 20px;
}

.ticket__name {
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}

.ticket__name:hover {
  text-decoration: underline;
}

.business__image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.block {
  margin-bottom: 10px;
}

.ticket {
  margin-top: 10px;
}

.info__title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
  color: #666666;
}

.table {
  width: 100%;
}

.table__row-space {
  display: block;
  height: 10px;
  width: 100%;
}

.table__column-1 {
  width: 150px;
  vertical-align: top;
}

.table__column-1 > :first-child {
  display: inline-block;
  min-height: 22px;
}

.status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.status__color {
  width: 30px;
  height: 20px;
  background-color: #0150ac;
}

.status__color--inprogress {
  background-color: #f2c94c;
}

.status__name {
  margin-left: 5px;
}

.priority {
  padding: 0 8px;
  border: 1px solid #000;
  border-radius: 5px;
  display: inline-block;
  font-size: 12px;
  height: 20px;
}

.assignee {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
  height: 22px;
}

.assignee__avatar {
  margin-right: 5px;
  height: 18px;
}

.assignee__name {
  font-weight: 400;
  color: #666666;
}

.assignee img {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.acceptance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.acceptance__avatar {
  margin-right: 10px;
}

.acceptance__info span {
  display: block;
}

.acceptance__email {
  color: grey;
  font-size: 12px;
}

.acceptance img {
  width: 30px;
  height: 30px;
}

.label {
  display: inline-block;
  padding: 3px 10px;
  border-radius: 2px;
  color: #222;
  max-width: 165px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 22px;
  font-size: 12px;
}

.label--default {
  background-color: #489cfe;
  color: #222;
}

.label--primary {
  background-color: #0168df;
}

.detail {
  width: 100%;
}

.detail__here {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail__link {
  display: inline-block;
  padding: 10px 15px;
  color: #fff !important;
  border-radius: 5px;
  background-color: #0150ac;
  text-decoration: none;
  margin-bottom: 5px;
}

.detail__link:hover {
  background-color: #013879;
}

.detail__notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: italic;
  font-size: 12px;
}

.footer {
  width: 100%;
  height: 100%;
  background-color: #ebeef0;
  color: #fff;
  font-size: 12px;
  padding: 10px 15px;
}

.footer p,
.footer a {
  font-size: 12px;
  color: #666666 !important;
}

@media only screen and (min-width: 500px) {
  .footer {
    padding: 15px 20px;
  }
  .footer__right {
    width: 165px;
  }
}

.footer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .logo__image {
  height: 35px;
}

.w-100 {
  width: 100%;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-items--center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actor__name {
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.75);
}

.time {
  font-size: 12px;
  color: grey;
}

.before,
.after {
  padding: 5px;
  vertical-align: middle;
  min-height: 36px;
  margin-left: 15px;
}

.before p,
.after p {
  margin-bottom: 0;
}

.before img,
.after img {
  max-height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

.before {
  display: inline-block;
  background-color: #ffebe6;
}

.before div,
.before a,
.before p,
.before .label {
  text-decoration: line-through;
}

.arrow {
  width: 2px;
  display: inline-block;
}

.after {
  display: inline-block;
  background-color: #e3fcef;
}

.history {
  margin-bottom: 20px;
}

.history__header {
  list-style: square;
  padding-left: 15px;
  margin: 5px 0;
}

.comment .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.comment .item:not(:last-child) {
  margin-bottom: 10px;
}

.comment .item__avatar {
  margin-right: 5px;
}

.comment .item__time {
  font-size: 12px;
  color: grey;
}

.comment .item__text {
  margin-top: 10px;
}

.sub-tickets {
  padding-left: 0;
  margin: 0 0 0 15px;
  list-style: none;
}

.sub-tickets li {
  margin-bottom: 5px;
  margin-left: 0 !important;
}

.sub-tickets li span {
  padding: 5px;
  display: inline-block;
  background-color: #e3fcef;
}

.attachment-list {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
}

.attachment-list__item {
  min-height: 25px;
}

ul li {
  margin-left: 0 !important;
}

.relate-tickets {
  padding-left: 0;
  margin: 0 0 0 15px;
  list-style: none;
}

.relate-tickets li {
  margin-bottom: 5px;
  margin-left: 0 !important;
  background-color: #e3fcef;
  padding: 5px;
}

.relate-tickets .old {
  background-color: #ffebe6;
}

.relate-tickets .new {
  background-color: #e3fcef;
}

.checklist {
  padding-left: 0;
  margin: 0 0 0 15px;
  list-style: none;
}

.checklist li {
  margin-bottom: 5px;
}

.checklist span {
  display: inline-block;
  padding: 5px;
}

.checklist .old {
  background-color: #ffebe6;
}

.checklist .new {
  background-color: #e3fcef;
}

.text-danger {
  color: #db3700;
}

.warning {
  margin-bottom: 15px;
}

.warning__text {
  font-size: 14px;
  font-weight: bold;
}

.warning__calendar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.warning__deadline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.warning__time {
  font-weight: bold;
  color: #db3700;
  padding: 7px 0 7px 5px;
}

.warning__countdown {
  font-style: italic;
  font-size: 12px;
  margin-left: 5px;
  padding: 7px 0;
}

.warning__countdown b {
  font-style: normal;
  font-size: 12px;
}

.datetime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 22px;
}

.datetime img {
  margin-right: 10px;
  width: 22px;
  height: 22px;
  -o-object-fit: contain;
     object-fit: contain;
}

.warning-due-date {
  color: #fd7e14;
}

.over-due-date {
  color: #db3700;
}

.breadcrumb {
  color: #666666;
  padding: 0 20px;
}

.breadcrumb__slash {
  font-size: 12px;
  display: inline-block;
  color: #666;
}

.breadcrumb__image {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.breadcrumb__name {
  color: #666666;
  font-size: 12px;
}

.d-none {
  display: none !important;
}

.customfield__name {
  display: inline-block;
  min-height: 22px;
}
/*# sourceMappingURL=main.css.map */